[submodule "Probe-RAS"]
	path = Probe-RAS
	url = https://github.com/zenitheesc/Probe-RAS
[submodule "Probe-CDH"]
	path = Probe-CDH
	url = https://github.com/zenitheesc/Probe-CDH
[submodule "Probe-EPS"]
	path = Probe-EPS
	url = https://github.com/zenitheesc/Probe-EPS
[submodule "Probe-OBC"]
	path = Probe-OBC
	url = https://github.com/zenitheesc/Probe-OBC
